@layout LoginLayout

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="No Autorizado">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenHtml>
          El usuario actual no está autorizado para ver esta página.
        </RadzenHtml>
      </div>
    </div>
  </ChildContent>
</RadzenContent>

